<div class="col-xs-10 col-xs-offset-1">
  <h1>Almost Inspirational</h1>

  <p>
   This website was built by <a target="_blank" href="https://github.com/joehenriod">Joe Henriod</a> for The Firehose Project. Joe is on a misison to not only expand and improve his coding abiltity with varoius projects, but also on a mission to make sure people can apprieciate good quotes, through an imerrise experience with bad ones.
  </p>
  <br />
  <p>
    This project was created as an example of a random content generator, and a database that accepts user inputs. It was built with Ruby on Rails and <a href="http://getbootstrap.com/">Twitter Bootstrap</a>.  The content is formated for a mobile first experience but will look great on larger screens sizes as well.
  </p>



  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Joe-Henriod.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Joe Henriod</h2>
    <br />
    <p>
     Joe Henriod is an entreprenr, hacker and startup guy. He is currently enrolled in The Firehose Project and is expanding his skills as a Web Developer.
    </p>
    <p>
     Joe Henriod hopes you enjoy this website and submit your own quote or saying. As long as it isn't too inspirational.
    </p>
  </div>
  <br class="clear" />

 


</div>