<h3>
  <span>Sucky.spiration / No. <%= @quote.id %> / <%= @quote.unique_tag %></span> 
  Not really <u>the best quotes</u> you can get!
</h3>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />