@font-face {
    font-family: 'rabioheadregular';
    src: url('/assets/rabiohead-webfont.eot');
    src: url('/assets/rabiohead-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/rabiohead-webfont.woff2') format('woff2'),
         url('/assets/rabiohead-webfont.woff') format('woff'),
         url('/assets/rabiohead-webfont.ttf') format('truetype'),
         url('/assets/rabiohead-webfont.svg#rabioheadregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
